
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;

}

.main {
    background-image: url(Resources/bg.jpeg);
    height: 876px;
    border-bottom: 5px solid white;
}

.box {
    height: 876px;
    background-color: rgba(0, 0, 0, 0.44);

}

nav {
    width: 40vw;
    display: flex;
    justify-content: space-around;


}

nav img {
    width: 80px;
    scale: 1.8;
    position: relative;
    right: 45px;
    margin-top: 35px;
}

.mainbox {
    display: inline-block;
    position: relative;
    top: 38px;
    left: 533px;
    background-color: rgba(0, 0, 0, 0.64);
    width: 450px;
    height: 709px;
    border-radius: 5px;
    

}

.mainbox h1{
    color: white;
    padding: 47px 0px 0px 64px;
    font-size: 32px;
    margin-bottom: 20px;
    font-family: "Cal Sans";
    font-weight: 100;
    
}

.mainbox input {
    display: inline-block;
    background-color: rgb(18, 19, 19, 0.1);
    border: 1px solid white;
    width: 289px;
    height: 22px;
    position: relative;
    left: 64px;
    margin-top: 15px;
    padding: 16px 16px 16px 16px;
    font-size: 15px;
    border-radius: 5px;
    color: white;
}

.btnsignin{
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius: 5px;
    position: relative;
    top: 15px;
    left: 64px;
    width: 322px;
    height: 40px;
    font-family: "Cal Sans";
    font-weight: 100;
    font-size: 1rem;

}

.mainbox #or{
    color: white;
    text-align: center;
    position: relative;
    top: 30px;
    
    font-family: "Martel Sans";
    font-weight: 400;
    opacity: 0.8;
}

.mainbox .btnsignincode{
    color: white;
    background-color: rgba(136, 127, 127, 0.4);
    border: 1px solid rgba(136, 127, 127, 0.4);
    border-radius: 5px;
    position: relative;
    top:40px;
    left: 64px;
    width: 322px;
    height: 40px;
    font-family: "Martel Sans";
    font-weight: 700;
    font-size: 1rem;

}

.mainbox #forgot{
    color: white;
    text-align: center;
    position: relative;
    top: 50px;
    text-decoration: underline;
    font-family: "Martel Sans";
    font-weight: 700;
}

.mainbox #remember{
    position:relative;
    top: 50px;
    color: white;
    left: -66px;
}

.mainbox #labelremember{
    font-family: "Martel Sans";
    font-size: 16px;
    color: white;
    position: relative;
    top: 44px;
    left: -189px;
}

.new{
    font-family: "Martel Sans";
    position: relative;
    top: 58px;
    left: 67px;
    color: rgb(153, 152, 176);

}

.signup{
    font-family: "Martel Sans";
    position: relative;
    top: 29px;
    left: 187px;
    color: white;
}

.captcha{
    color: rgb(153, 152, 176);
    font-family: "Martel Sans";
    position: relative;
    font-size: 13px;
    top: 48px;
    width: 320px;
    line-height: 1.3;
    font-weight: 600;
    left: 67px;
    
}

.footer{
    background-color: #161616;
    height: 250px;
}
.ques{
    color: #bababa;
    padding: 67px 140px;
    font-size: 16px;
    font-family: "Martel Sans";
}

.listdiv{
    width: 1500px;
    height: 80px;
    text-decoration: underline;

}

.list{
    text-decoration: underline;
    font-family: "Martel Sans";
    color: #bababa;
    display: flex;
    gap: 150px;
    padding: 20px;
    font-size: 14px;
    list-style: none;
    padding-left: 140px;
}

.listele{
    width: 200px;
}
