@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

body {
    background-color: black;
}

.main {

    background-image: url(Resources/bg.jpg);
    object-fit: cover;
    object-position: top;
    height: 694px;
    border-bottom: 5px solid white;
}

.box {

    background-color: rgb(0, 0, 0, 0.65);
    height: 694px;
    width: 100%;
}

nav {

    display: flex;
    justify-content: space-around;
    padding-top: 25px;
    align-items: center;
    margin: auto;
    /* scale: 1.14; */
    gap: 590px;


}

nav img {
    color: red;
    width: 130px;
    position: relative;
    z-index: 10;
    scale: 1.1;
    filter: grayscale(0.1);

}

.btn {
    padding: 3px 8px;
    font-weight: 400;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    font-size: 15px;
}

#btneng {
    background-color: black;
    border: 0.2px solid white;
    padding-left: 15px;
    padding-right: 15px;
}



.btnsignin {
    background-color: rgb(193, 17, 25);
    border-color: rgb(193, 17, 25);
    margin-left: 10px;
    font-size: 14px;
    padding: 5px 15px;
    font-weight: 600;

    a {
        color: aliceblue;
        text-decoration: none;
    }

}



option {
    font-size: 15px;
}

.content {

    display: inline;
    text-align: center;
    position: relative;
    top: 150px;
    height: 694px;
}

.content h1 {
    font-family: "Martel Sans";

    color: white;
    font-size: 56px;
    height: 64px;
    font-weight: 1000;
}

.content h3 {
    color: white;
    margin-top: 20px;
    font-size: 20px;
    font-family: "Martel Sans";
    font-weight: 900;

}

#ready {
    color: white;
    margin-top: 20px;
    font-family: "Martel Sans";
    font-size: 16px;
    font-weight: 400;

}

.inp input {
    display: inline-block;
    background-color: rgb(0, 0, 0, 0.65);
    border: 1px solid white;
    padding: 5px;
    width: 334px;

    height: 24px;
    margin-top: 20px;
    padding: 16px 16px 16px 16px;
    font-size: 14px;
    border-radius: 5px;
    color: rgba(255, 255, 255, 1);
}

.inp button {
    color: white;
    background-color: rgb(193, 17, 25);
    padding: 10px;
    border: 1px solid rgb(193, 17, 25);
    border-radius: 5px;
    margin-left: 8px;
    font-size: 25px;
    margin-top: 20px;
    padding: 8px 25px 10px 30px;
}

.inp svg {
    color: white;
    position: relative;
    top: 4px;
}

.grad {

    border-bottom: 5px solid white;
    margin-top: 5px;
    height: 50px;
    background: radial-gradient(ellipse at bottom, red 9%, black 78%);
}

.specs {
    display: flex;
    justify-content: center;

}

.more {
    padding-left: 110px;
    margin-top: 50px;
}

.more h2 {
    color: white;
    font-size: 24px;
    font-family: "Martel Sans";


}

.specsbox {
    transition-duration: 0.5s;
    color: white;
    height: 278px;
    width: 320px;
    margin: 0px 7px 0px 7px;
    border-radius: 20px;
    /* background: linear-gradient(145deg,#1a2246 90%,red ); */


    /* background: radial-gradient(circle at center, #221B41, #0A021E); */
    /* background-color: #0A021E; */


    /* background: linear-gradient(135deg, #1b2236 0%, #18192b 100%);
box-shadow: 0 4px 24px rgba(0,0,0,0.35); */

    background:
        radial-gradient(circle at 85% 85%, rgba(129, 40, 40, 0.35) 0%, rgba(0, 0, 0, 0) 50%), linear-gradient(135deg, #1b2236 0%, #18192b 100%);
}

.specsbox h3 {
    font-size: 1.55rem;
    font-weight: 500;
    padding: 20px 0px 0px 17px;
}

.specsbox p {
    color: #b8b7c0;
    padding: 10px 0px 0px 20px;
}



.specsbox img {
    width: 60px;
    height: 60px;
    position: relative;
    top: 20px;
    left: 224px;
}

#tv {
    top: 50px;
}

#down {
    top: 37px;
}

#tele {
    top: 52px;
}

#profile {
    top: 30px;
}

.specsbox:hover {
    scale: 1.02;
    box-shadow: 0px 0px 60px 0px red;

}

.faqhead>p {
    color: white;
    font-family: "Martel Sans";
    font-weight: 800;
    font-size: 24px;
    padding-left: 110px;
    margin-top: 70px;
}

.faqbtn {
    background-color: #313131;
    font-family: "Martel Sans";
    font-size: 24px;
    height: 36px;
    width: 1254px;
    margin: auto;
    margin-top: 9px;
    color: white;
    padding: 24px;
    transition-duration: 0.6s;
    display: flex;


}

.faqbtn img {
    position: absolute;
    left: 1300px;
    height: 36px;
    transition-duration: 0.5s;
}

.faqbtn:hover {
    background-color: #525252;
    /* img{
        transform: rotate(45deg);
    } */
}

.faqcontent {
    background-color: #313131;
    font-size: 24px;
    width: 1254px;
    margin: auto;
    padding: 24px;
    margin-top: 2px;
    display: none;
    transition-delay: 1s;


    p {
         color: white;
    }
}


.after-faq-sign-up {
    color: white;
    margin: auto;
    display: inline;
    text-align: center;

}

.footerhead{
    color: white;
    padding: 52px 0px 52px 144px;
}

.footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    max-width: 80vw;
    margin: auto;
    min-height: 300px;
    a{    
        color: white;
        font-size: 14px;
    }
}

.footer-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
